.monitor-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .state-filters {
    display: flex;
    gap: 10px;
  }
  
  .passed {
    background-color: green;
    color: white;
  }
  
  .failed {
    background-color: red;
    color: white;
  }
  